{% extends 'base.html' %}

{% block content %}

<div class="mt-5">
    <h1 class="text-center">Items List</h1>
    <!-- <hr> -->
{% if object_list %}
<table class="table mt-3">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Item Name</th>
        <th scope="col"> Minimum Price</th>
        <th scope="col"> Minimum Bid</th>
        <th scope="col">Maximum Bid</th>
    </tr>
</thead>

 
        
        <tbody class="table-hover">
            {%for item in object_list %}
            <tr>
                <th scope="col">{{forloop.counter }}</th>
                <th scope="col"><a href="{% url 'bidding:item-detail' pk=item.id %}">{{ item.name }}</a></th>
                <th scope="col"> {{ item.min_price }}</th>
                <th scope="col">
                    {% if item.seller == request.user %}{{ item.get_min_bid}} {% else %} - {% endif%}
                </th>
                <th scope="col">{{ item.get_max_bid}}</th>
            </tr>
            {% endfor %}
        </table>
    
{% endif %}
    
    {% if request.user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'bidding:create-item' %}">Add New</a>
    {% else %}
    <button class="btn btn-primary disabled" data-toggle="tooltip" data-placement="top" title="Login to add items" href="{% url 'bidding:create-item' %}">Add New</button>
    {% endif %}
</div>
{% endblock content%}